.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-size: 50px;
    margin-top: -80px;
}

.waviy span {
    font-family: "Alfa Slab One", cursive;
    position: relative;
    display: inline-block;
    color: rosybrown;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
    margin-top: 80px;
}

.img-logo {
    width: 250px;
}

.title1
{
    font-family: 'Fira Mono', monospace;
    color: sandybrown;
    font-size: 62px;
}
